@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  @apply antialiased;
  font-size: 18px;
  text-rendering: geometricPrecision;

  @screen sm {
    font-size: 18px;
  }

  @screen md {
    font-size: 18px;
  }

  @screen lg {
    font-size: 20px;
  }

  @screen xl {
    font-size: 24px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

*:focus {
  outline: none;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
*::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}